In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import preprocess as pre
import metrics

In [2]:
master = pd.read_csv("user_journey_raw.csv")
master.head()

,user_id,session_id,subscription_type,user_journey
0,1516,2980231,Annual,Homepage-Log in-Log in-Log in-Log in-Log in-Lo...
1,1516,2980248,Annual,Other-Sign up-Sign up-Sign up-Sign up-Sign up-...
2,1516,2992252,Annual,Log in-Log in-Log in-Log in-Log in-Log in
3,1516,3070491,Annual,Homepage-Log in-Log in-Log in-Log in-Log in-Lo...
4,1516,3709807,Annual,Log in-Log in-Log in-Log in-Log in-Log in-Log ...

In [3]:
df = pre.remove_page_duplicates(master,"user_journey")
df.head()

   user_id  session_id subscription_type           user_journey
0     1516     2980231            Annual  Homepage-Log in-Other
1     1516     2980248            Annual   Other-Sign up-Log in
2     1516     2992252            Annual                 Log in
3     1516     3070491            Annual        Homepage-Log in
4     1516     3709807            Annual                 Log in

In [4]:
grouped = pre.group_by(data=df,sessions=3)
grouped.head()

   user_id                                       user_journey
0     1516                         Checkout-Checkout-Checkout
1     3395         Homepage-Pricing-Pricing-Checkout-Checkout
2    10107                         Checkout-Checkout-Checkout
3    11145           Homepage-Log in-Homepage-Log in-Checkout
4    12400  Other-Career track certificate-Resources cente...

In [5]:
len(grouped)

1350

In [6]:
cleaned_data = pre.remove_pages(grouped,pages=["Log in","Other"])
cleaned_data.head()

   user_id                                       user_journey
0     1516                         Checkout-Checkout-Checkout
1     3395         Homepage-Pricing-Pricing-Checkout-Checkout
2    10107                         Checkout-Checkout-Checkout
3    11145                         Homepage-Homepage-Checkout
4    12400  Career track certificate-Resources center-Home...

---

### Metrics

1. Page count is the most fundamental metric; it counts how many times each page can be found in all user journeys.
2. Page presence is similar to ‘page count’ but counts each page only once if it exists in a journey; it shows how many times each page is part of a journey
3. Page destination is a metric that shows the most frequent follow-ups after every page. It looks at every page and counts which pages follow next. If one is interested in what the users do after visiting page X, they can consult this metric.
4. Page sequences look at what the most popular run of N pages is. I will consult this metric if I’m interested in the sequence of three (or any other number) pages that most often shows up. Count each sequence only once per journey.
Journey length is a straightforward metric that considers the average length of a user journey in terms of pages.

## Page Count

In [7]:
# metrics.page_count(cleaned_data)

## Page Presence
Page presence is similar to ‘page count’ but counts each page only once if it exists in a journey; it shows how many times each page is part of a journey

In [8]:
# metrics.page_presence(cleaned_data)

In [9]:
# metrics.page_dest(cleaned_data)

In [10]:
# metrics.avg_journey_length(data=cleaned_data)

In [11]:
# master["subscription_type"].value_counts()